<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Facturas.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Facturas.Settings>
            <setting name="DirectorioDATA" serializeAs="String">
                <value>\sunat_archivos\sfs\DATA\</value>
            </setting>
            <setting name="DirectorioFIRMA" serializeAs="String">
                <value>\sunat_archivos\sfs\FIRMA\</value>
            </setting>
            <setting name="DirectorioIMG" serializeAs="String">
                <value>\sunat_archivos\sfs\IMG\</value>
            </setting>
            <setting name="DirectorioREPO" serializeAs="String">
                <value>\sunat_archivos\sfs\REPO\</value>
            </setting>
            <setting name="DirectorioRPTA" serializeAs="String">
                <value>\sunat_archivos\sfs\RPTA\</value>
            </setting>
            <setting name="RutaDirectorio" serializeAs="String">
                <value>\\DESKTOP-KQB7347\SFS_v1.3.2</value>
            </setting>
            <setting name="httpBandeja" serializeAs="String">
                <value>http://localhost:9000</value>
            </setting>
            <setting name="httpFirma" serializeAs="String">
                <value>/api/GenerarComprobante.htm</value>
            </setting>
            <setting name="httpEnvio" serializeAs="String">
                <value>/api/enviarXML.htm</value>
            </setting>
            <setting name="httpActualizar" serializeAs="String">
                <value>/api/ActualizarPantalla.htm</value>
            </setting>
            <setting name="httpPdf" serializeAs="String">
                <value>/api/MostrarXml.htm</value>
            </setting>
            <setting name="RutaLOG" serializeAs="String">
                <value>\sunat_archivos\sfs\LOG\</value>
            </setting>
            <setting name="CadeCone" serializeAs="String">
                <value>data source = WIN-N0KOJNSL9KV; initial catalog = SEGURIMAX02; user id = sa; password = Dv123456789</value>
            </setting>
            <setting name="RutaDirectorioGR" serializeAs="String">
                <value>\\DESKTOP-KQB7347\SFS_1.3.4.2_GR</value>
            </setting>
            <setting name="httpBandeja_GR" serializeAs="String">
                <value>http://localhost:9001</value>
            </setting>
            <setting name="CuerpoCorreo" serializeAs="String">
                <value>&lt;!DOCTYPE html&gt;

&lt;html lang="en" xmlns="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id=":u8" class="ii gt"&gt;
        &lt;div id=":u7" class="a3s aXjCH "&gt;
            &lt;div&gt;
                &lt;div&gt;
                    &lt;table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="font-family:Helvetica neue,Helvetica,Arial,Verdana,sans-serif" width="100%"&gt;
                        &lt;tr&gt;
                            &lt;td colspan="1" rowspan="1"&gt;
                                &lt;table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="520px"&gt;
                                    &lt;tr&gt;
                                        &lt;td colspan="1" rowspan="1" valign="top"&gt;
                                            &lt;table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%"&gt;
                                                &lt;tr&gt;
                                                    &lt;td align="left" colspan="1" rowspan="1" style="color:#05AFF2; font-size:20px;line-height:32px;text-align:left;font-weight:bold" valign="top"&gt;&lt;span&gt;@DocType @SerNumCor&lt;/span&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td colspan="1" rowspan="1" style="color:#cccccc;padding-bottom:15px" valign="top"&gt;
                                                        &lt;hr color="#cccccc" size="1" /&gt;
                                                    &lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr align="left" colspan="1" rowspan="1" valign="top"&gt;
                                                    &lt;td&gt;
                                                        &lt;div style="padding:10px 0; background-color: #40454C; color: #DBD7D2;"&gt;
                                                            Estimados @NomSocNeg &lt;/div&gt;
                                                    &lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr align="left" colspan="1" rowspan="1" valign="top"&gt;
                                                    &lt;td&gt;
                                                        &lt;div style="padding:10px 0; color: #40454C;"&gt;
                                                            Se adjunta en este mensaje una @DocType
                                                        &lt;/div&gt;
                                                    &lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr align="left" colspan="1" rowspan="1" valign="top"&gt;
                                                    &lt;td&gt;
                                                        &lt;div style="padding:5px 0"&gt;
                                                            &lt;ul&gt;
                                                                &lt;li&gt;&lt;b&gt;@DocType @SerNumCor &lt;/b&gt;&lt;/li&gt;
                                                                &lt;li&gt;Fecha de emisión: &lt;b&gt;@FecEmi&lt;/b&gt;&lt;/li&gt;
                                                                &lt;li&gt;Total: &lt;b&gt;S/ @TotDoc&lt;/b&gt;&lt;/li&gt;
                                                            &lt;/ul&gt;
                                                        &lt;/div&gt;
                                                        &lt;div style="padding:5px 0; color: #40454C;"&gt;
                                                            Se adjunta en este mensaje el documento electrónico en formatos PDF y XML. La representación impresa en PDF tiene la misma validez que una emitida de manera tradicional.                                    &lt;/div&gt;
                                                        &lt;div style="padding:5px 0; background-color: #F4B80E; color: #40454C;"&gt;
                                                            Representación impresa de la @DocType generada desde el sistema facturador SUNAT. Puede verificarla utilizando su clave SOL&lt;br /&gt;
                                                            &lt;br /&gt;
                                                            &lt;a href="https://e-consulta.sunat.gob.pe/ol-ti-itconsvalicpe/ConsValiCpe.htm"&gt;https://e-consulta.sunat.gob.pe/ol-ti-itconsvalicpe/ConsValiCpe.htm&lt;/a&gt;&lt;/div&gt;
                                                    &lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr align="left" colspan="1" rowspan="1" valign="top"&gt;
                                                    &lt;td&gt;
                                                        &lt;div&gt;
                                                            &lt;table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%"&gt;
                                                                &lt;tr valign="top"&gt;
                                                                    &lt;td align="left" colspan="1" rowspan="1" style="padding-top:10px;text-align:left; color: #40454C;" valign="top"&gt;&lt;span&gt;Atentamente&lt;/span&gt;:&lt;br clear="none" /&gt;
                                                                        @RazSoc&lt;br clear="none" /&gt;
                                                                        &lt;span&gt;&lt;b&gt;RUC @Ruc&lt;/b&gt;&lt;/span&gt;&lt;br clear="none" /&gt;
                                                                        &lt;br /&gt;
                                                                    &lt;/td&gt;
                                                                &lt;/tr&gt;
                                                            &lt;/table&gt;
                                                        &lt;/div&gt;
                                                    &lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td colspan="1" rowspan="1"&gt;
                                                        &lt;table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%"&gt;
                                                            &lt;tr&gt;
                                                                &lt;td colspan="1" rowspan="1" style="color:#DBD7D2; text-align: center; font-size: xx-small; background-color: #40454C;" valign="top" width="100%"&gt;
                                                                    TgrSystem&lt;br /&gt;
                                                                    51-993433774&lt;/td&gt;
                                                            &lt;/tr&gt;
                                                            &lt;tr&gt;
                                                                &lt;td colspan="1" rowspan="1"&gt;
                                                                    &lt;div&gt;
                                                                        &lt;table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%"&gt;
                                                                            &lt;tr&gt;
                                                                                &lt;td align="left" colspan="1" rowspan="1" style="padding-top:10px;color:#707070;font-size:12px;line-height:14px;text-align:left" valign="top"&gt;
                                                                                    &lt;br clear="none" /&gt;
                                                                                &lt;/td&gt;
                                                                            &lt;/tr&gt;
                                                                        &lt;/table&gt;
                                                                    &lt;/div&gt;
                                                                &lt;/td&gt;
                                                            &lt;/tr&gt;
                                                        &lt;/table&gt;
                                                    &lt;/td&gt;
                                                &lt;/tr&gt;
                                            &lt;/table&gt;
                                        &lt;/td&gt;
                                    &lt;/tr&gt;
                                &lt;/table&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/table&gt;
                    &lt;div class="yj6qo"&gt;
                    &lt;/div&gt;
                    &lt;div class="adL"&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="adL"&gt;
                &lt;/div&gt;
                &lt;div class="adL"&gt;
                &lt;/div&gt;
                &lt;div class="adL"&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div id=":uz" class="hq gt"&gt;
        &lt;div class="hp"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</value>
            </setting>
            <setting name="ServidorSMTP" serializeAs="String">
                <value>smtp.live.com</value>
            </setting>
            <setting name="UsuarioSMTP" serializeAs="String">
                <value>segurimax_80@hotmail.com</value>
            </setting>
            <setting name="PuertoSMTP" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PassUsuaSMTP" serializeAs="String">
                <value>j21np33l</value>
            </setting>
        </Facturas.Settings>
    </userSettings>
</configuration>